.mainHeader {
    height: 200px;
    margin-top: 10px;
    background-image: url('/assets/green_cover.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}


.imageLogout{
    width: 45px;
    height: 45px;
}

a {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}