/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lightbox-dialog .mat-mdc-dialog-container {
  padding: 0 !important;
  background: black;
  border-radius: 8px;
  overflow: hidden;
}

.lightbox-dialog .mdc-dialog__surface {
  background: black !important;
  border-radius: 8px !important;
}
